body{
    background-image: url(image/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    height: 25pt;
    width:auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: rgb(0, 255, 55); */
    /* opacity: 0.7; */
    border-radius: 10px;
}

.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 20px;

    margin-left: 10px;
    margin-right: 10px;
}

.phone {
    background-color: black;
    width: 480px;
    height: 720px;
}