body{
    background-image: url(image/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/* .navbar{
    height: 25pt;
    width:auto;
    margin: 0;
    padding: 0;
    background-color:black;
    text-align: right;
   
} */

.navbar{
    width:auto;
    background-color: black;
}

.navbar a{
    text-decoration: none;

    color: rgba(72, 255, 0, 0.818);
    font-family:monospace;
    font-size: 20px;
}

.navbar a:hover {
    color: aqua;
}